Program/02_MQTT_Node_RED.json
[
    {
        "id": "f37e469f.6344c8",
        "type": "tab",
        "label": "Lab-02",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22f9ec4a.8a4bd4",
        "type": "mqtt in",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "ghliaw/sensor/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "3e11bccd.52fd44",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "634e6fbf.c2899",
                "cf845e28.5929c",
                "5100de84.a489e"
            ]
        ]
    },
    {
        "id": "634e6fbf.c2899",
        "type": "debug",
        "z": "f37e469f.6344c8",
        "name": "MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "5100de84.a489e",
        "type": "ui_gauge",
        "z": "f37e469f.6344c8",
        "name": "",
        "group": "97a7dd0e.47386",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a90ba56.f20528",
        "type": "ui_gauge",
        "z": "f37e469f.6344c8",
        "name": "",
        "group": "51f97a49.7f0384",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf845e28.5929c",
        "type": "ui_text",
        "z": "f37e469f.6344c8",
        "group": "97a7dd0e.47386",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<font size = 4>Current temperature : ",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "cdd8a111.caf7",
        "type": "ui_text",
        "z": "f37e469f.6344c8",
        "group": "51f97a49.7f0384",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<font size = 4>Current humidity : ",
        "format": "{{msg.payload}}%",
        "layout": "row-left",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "a837a6ce.c0d8d8",
        "type": "mqtt out",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "ghliaw/control/led",
        "qos": "",
        "retain": "",
        "broker": "3e11bccd.52fd44",
        "x": 290,
        "y": 320,
        "wires": []
    },
    {
        "id": "bea9fcd2.ea8a4",
        "type": "ui_switch",
        "z": "f37e469f.6344c8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "980a7c0b.62db3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "a837a6ce.c0d8d8"
            ]
        ]
    },
    {
        "id": "35b39b64.1fe9b4",
        "type": "mqtt in",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "ghliaw/sensor/hum",
        "qos": "0",
        "datatype": "auto",
        "broker": "3e11bccd.52fd44",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "cdd8a111.caf7",
                "8a90ba56.f20528"
            ]
        ]
    },
    {
        "id": "3e11bccd.52fd44",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "97a7dd0e.47386",
        "type": "ui_group",
        "z": "",
        "name": "temperture",
        "tab": "9e253195.a496a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51f97a49.7f0384",
        "type": "ui_group",
        "z": "",
        "name": "humidity",
        "tab": "9e253195.a496a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "980a7c0b.62db3",
        "type": "ui_group",
        "z": "",
        "name": "control_led",
        "tab": "9e253195.a496a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9e253195.a496a",
        "type": "ui_tab",
        "z": "",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]